.remodal .title{
    font-size: 30px;
    margin-bottom: 0;
}
.remodal .subtitle{
     margin-bottom: 20px;
}
.remodal .btn-submit{
    height: 50px;
    margin: 0 auto;
    width: 150px;
    text-transform: uppercase;
}