.widget.widget-filter-price {
    border: solid 3px rgba(35, 35, 35, 0.1);
}
.widget.widget-filter-price .widget-title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
}
.widget.shop-categories .widget-filter-price .widget-content {
    padding: 10px 10px 0px 10px;
    border: none;
    width: 100%;
}
.slider-range {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e9e9e9;
    background-image: none;
    height: 15px;
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.22);
}
.slider-range .ui-widget-header {
    background-color: #bd0e2b;
    background-image: none;
    height: 15px;
    margin-top: 0px;
        border-radius: 10px;
}
.slider-range .ui-slider-handle {
    background-image: none;

    width: 27px;
    height: 27px;
    outline: none;
    top: -6px;
    margin-left: -13.5px;
    background: rgb(248, 248, 248);
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    

}

/* .slider-range .ui-slider-handle:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin: auto;
    background: #000;
} */
.shop-categories .widget-filter-price #amount {
    float: right;
    text-align: right;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #232323;
    width: 120px;
    line-height: 33px;
}
.widget.widget-filter-price .btn-theme,
.widget.widget-filter-price .btn-theme:focus,
.widget.widget-filter-price .btn-theme:active {
    background-color: #232323;
    border-width: 3px;
    border-color: #232323;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 12px;
    float: right;
}
.widget.widget-filter-price .btn-theme:hover {
    background-color: #ffffff;
    border-color: #e9e9e9;
    color: #232323;
}